{$APP_DOMAIN} {
    handle /admin/wetty {
        forward_auth {$APP_HOST} {
            uri /auth/check/terminal
        }
        reverse_proxy {$TERMINAL_HOST}
    }
    reverse_proxy {$APP_HOST}
}