#admins-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin-top: 40px;
    width: 400px;
}

#admins-list li img {
    cursor: pointer;
}

#admins-list li h3 {
    margin: 0;
    padding: 0;
    display: inline;
}

#admins-list li {
    list-style-type: none;
    background-image: url("/gifs/colorful-border.gif");
    background-size: 100% 100%;
    padding: 20px 40px;
}

img[data-action="delete"] {
    height: 36px;
    margin-bottom: -4px;
    padding-left: 20px;
}