main {
    display: flex;
    flex-direction: row;
    align-items: start;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    main form {
        flex: 1;
        width: 100%;
    }
}

main form {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 20px;
    gap: 20px;
}

main form textarea {
    align-self: stretch;
    height: 50vh;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 16px ridge white;
    resize: none;
    scrollbar-width: none;
    font-size: 14pt;
    padding: 8px;
}


main form [for="input-service-link"] {
    width: auto;
    align-self: start;
}

main form #input-service-link {
    border: none;
    padding: 20px 40px;
    background-image: url("/gifs/a_frame_shinegreen.gif");
    background-size: 100% 100%;
    align-self: start;
}

main form #input-service-link:focus {
    outline: none;
}

main form #list-tags, main form #list-suggested-tags {
    display: flex;
    gap: 12px;
}

main form #list-tags li, main form #list-suggested-tags li {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    background-image: url("/gifs/colorful-border.gif");
    background-size: 100% 100%;
    padding: 12px 20px;
    list-style-type: none;
    background-repeat: no-repeat;
}

#list-suggested-tags li {
    cursor: pointer;
}

main form #list-tags input {
    border: none;
}

main form #list-tags li img, main form #list-suggested-tags li img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#status-icon {
    width: 48px;
    height: 48px;
    margin: 8px;
    z-index: 1;
}

aside {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}

@media (min-width: 768px) {
    aside {
        position: sticky;
        top: 0;
    }
}

aside ul {
    padding: 0;
    margin: 0;
}

main aside li {
    list-style: none;
    position: relative;
    padding-left: 32px; /* Make room for the custom bullet */
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 200px;
}

main aside li img {
    width: 24px;
    height: 36px;
    transform: translateY(-20%); /* Needed because trash can is offset  */
    cursor: pointer;
}

main aside li img[data-action="control"] {
    width: 24px;
    height: 24px;
}

main aside li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

main aside #containers-list {
    list-style-type: none;
    padding: 0;
}

main aside #containers-list li {
    padding-left: 0;
}

main aside #files-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    background-image: url('/gifs/arrow10.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

main aside li[aria-selected=true] {
    font-weight: bold;
}

main aside form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    width: min-content;
}
input {
    background-color: transparent;
    border: 4px ridge white;
}