@font-face {
    font-family: 'Comic Sans';
    src: url('/comic-sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 label {
    width: 300px;
    padding: 20px 0;
    text-align: center;
    color: #000;
    background-image: url("/gifs/goldenframe.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

* {
    font-family: 'Comic Sans', serif;
    color: white;
}

html {
    height: 100%;
}

body {
    background-image: url('/gifs/stars.gif');
    background-repeat: repeat;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    width: 80%;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

header nav a {
    padding-left: 8px;
    padding-right: 8px;
}

header nav img {
    width: 50px;
    height: 50px;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    display: flex;
    align-items: center;
    margin: 12px;
    column-gap: 8px;
    flex-wrap: wrap;
    row-gap: 8px;
    justify-content: center;
}


figure figcaption {
    text-align: center;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Scrollbar Track */
::-webkit-scrollbar {
    width: 16px;
    background-color: #C0C0C0;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background: #808080;
    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

/* Scrollbar Buttons (arrows) */
::-webkit-scrollbar-button:single-button {
    background-color: #C0C0C0;
    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
}

/* Up arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='0,4 8,4 4,0' style='fill: black'/></svg>");
}

/* Down arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='0,0 8,0 4,4' style='fill: black'/></svg>");
}

button {
    background-color: transparent;
    border: 4px ridge white;
    animation: rotateHorizontal 2s linear infinite;
    cursor: pointer;
}

@keyframes rotateHorizontal {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}