<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: head(~{::title}, @{/admins.css})}">
    <title>Admins</title>
</head>
<body>
<script defer th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const admins = document.querySelectorAll('form[data-user-id]')
        admins.forEach(adminForm => {
            adminForm.addEventListener('submit', e => {
                e.preventDefault();
                const formData = new FormData(adminForm);
                const body = JSON.stringify(formDataToJson(formData));
                console.log(body);
                const userId = adminForm.getAttribute('data-user-id');
                const method = userId === 'new' ? 'POST' : 'PUT';
                const endpoint = '[(@{/admin/admins})]';
                fetch(endpoint, {
                    method: method,
                    body: body,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(fetchHandler(`Failed to update admin`));
            });
        });

        const deleteButtons = document.querySelectorAll('img[data-action="delete"][data-user-id]');
        deleteButtons.forEach(deleteButton => {
            deleteButton.addEventListener('click', e => {
                e.preventDefault();
                const userId = deleteButton.getAttribute('data-user-id');
                const name = deleteButton.getAttribute('data-user-name');
                if (confirm("Are you sure you want to delete admin '" + name + "'?")) {
                    const endpoint = '[(@{/admin/admins/})]' + userId;
                    fetch(endpoint, {
                        method: 'DELETE',
                    }).then(fetchHandler(`Failed to delete tag`));
                }
            });
        });
    });
</script>
<header th:replace="~{fragments :: header}"></header>
<!-- Modified fragment definition to properly handle null admin -->
<th:block th:remove="body">
    <form th:data-user-id="${id}"
          th:fragment="admin_form(id, username, admin_roles, state, button_message)">
        <label>
            Name:
            <br>
            <input name="name" placeholder="Name" required th:value="${username}" type="text">
        </label>
        <br>
        <br>
        <label>
            Password:
            <br>
            <input name="password" placeholder="New Password" th:required="${id == 'new'}" type="password">
        </label>
        <br>
        Access:
        <br>
        <label th:each="role: ${roles}">
            <input th:checked="${admin_roles != null && #lists.contains(admin_roles, role)}" th:name="${role.name()}"
                   type="checkbox" value="true">
            <th:block th:text="#{${role.messageKey}}"/>
            <br>
        </label>
        <br>
        <label>
            <input th:checked="${state == 'OK'}" th:name="enabled"
                   type="checkbox" value="true">
            Enabled
            <br>
        </label>
        <button th:text="${button_message}" type="submit">Update!</button>
        <img alt="Delete user"
             th:data-action="delete"
             th:data-user-id="${id}"
             th:data-user-name="${username}"
             th:if="${id} != 'new'"
             th:src="@{/gifs/trash.gif}">
    </form>
</th:block>
<main>
    <h1>
        <th:block th:include="~{fragments :: header_title('Admins')}"/>
    </h1>
    <ul id="admins-list">
        New Admin:
        <li>
            <form th:replace="~{admins :: admin_form('new', '', ${{}}, 'OK', 'Create!')}"></form>
        </li>
        <li th:each="admin: ${admins}">
            <form th:replace="~{admins :: admin_form(${admin.id}, ${admin.name}, ${admin.roles}, ${admin.state.name}, 'Update!')}"></form>
        </li>
    </ul>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
