<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title}, @{/containers.css})}">
    <title>Admin95</title>
</head>
<body>
<link th:href="@{/libs/prism/prism.css}" rel="stylesheet" />
<script defer th:src="@{/libs/prism/prism.js}"></script>
<script defer th:inline="javascript" th:if="${currentFile != null}">
    const successIcon = '[(@{/gifs/check.gif})]';
    const loadingIcon = '[(@{/gifs/doge.gif})]';
    const failedIcon = '[(@{/gifs/error_alert.gif})]';
    document.addEventListener('DOMContentLoaded', () => {
        const textEditor = document.getElementById('text-editor');
        const statusIcon = document.querySelector('#status-icon');
        statusIcon.src = successIcon;
        //textEditor.classList.add('language-yaml');
        //Prism.highlightElement(textEditor);
        //textEditor.innerHTML = textEditor.value;
        const sendText = debounce(2000, async () => {
            const text = textEditor.value;
            const endpoint = '[(@{/admin/containers/})]' + [[${currentFile.name}]];
            try {
                const response = await fetch(endpoint, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'text/plain',
                    },
                    body: text,
                })
                if (response.ok) statusIcon.src = successIcon;
                else statusIcon.src = failedIcon;
            } catch (e) {
                console.log(e);
                statusIcon.src = failedIcon;
            }
        });
        textEditor.addEventListener('input', () => {
            if (!statusIcon.src.endsWith(loadingIcon)) {
                statusIcon.src = loadingIcon;
            }
            Prism.highlightElement(textEditor);
            sendText();
        });

        const deleteButtons = document.querySelectorAll('img[role="button"][data-file-id]');
        deleteButtons.forEach(button => {
            button.addEventListener('click', () => {
                const file = button.getAttribute('data-file-id');
                const endpoint = '[(@{/admin/containers/})]' + file;
                if (confirm("Are you sure you want to delete file " + file + "?")) {
                    fetch(endpoint, {
                        method: 'DELETE'
                    });
                    reload();
                }
            });
        });

        const createFileForm = document.getElementById('create-file-form');
        createFileForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = new FormData(createFileForm);
            const endpoint = '[(@{/admin/containers/})]' + formData.get("name");
            fetch(endpoint, {
                method: 'POST'
            });
            reload();
        });
    })
</script>
<header th:replace="~{fragments :: header}"></header>
<h1>Containers</h1>
<main>
    <aside>
        <ul>
            <th:block th:each="container: ${files}">
                <li th:aria-selected="${container.equals(currentFile)}">
                    <a th:href="|@{/admin/containers/}${container.name}|">
                        <p th:text="${container.name}"></p>
                    </a>
                    <img th:src="@{/gifs/trash.gif}"
                         alt="Trash Image"
                         th:data-file-id="${container.name}"
                         role="button">
                </li>
            </th:block>
        </ul>
        <form id="create-file-form" method="post" th:action="@{/admin/}">
            <label>
                File name:
                <input type="text" name="name" placeholder="File Name" required>
            </label>
            <button type="submit">Create File!</button>
        </form>
    </aside>
    <form th:if="${currentFile != null}">
        <h3 th:text="${currentFile.name}"></h3>
        <textarea id="text-editor" placeholder="Edit your content here" th:text="${currentFile.content}"></textarea>
        <img th:src="@{/gifs/doge.gif}" id="status-icon" alt="Sync status Image">
    </form>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>