<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title}, '')}">
    <title>Login</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <h1>
        <th:block th:replace="~{fragments :: header_title('Login')}"></th:block>
    </h1>
    <form action="/login" method="post">
        <input name="username" placeholder="Name" required type="text">
        <input name="password" placeholder="Password" required type="password">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button type="submit">Login</button>
    </form>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>