<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h1>Signup</h1>
<form action="/signup" method="post">
    <p th:if="${#fields.hasErrors('signupRequest.name')}" th:errors="*{signupRequest.name}"></p>
    <input type="text" name="name" placeholder="Name" required>
    <p th:if="${#fields.hasErrors('signupRequest.password')}" th:errors="*{signupRequest.password}"></p>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="password_repeat" placeholder="Password" required>
    <button type="submit">Login</button>
</form>
</body>
</html>